{% extends "base.html" %}

{% block header %}
<h3 class="text-center">FACULTY REGISTRATION</h3>
{% endblock header %}


{% block maincenter %}

    <form class="p-5 border" action="/facultyregister/" method = "POST">
      {% csrf_token %}
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="fullname" name = "fullname" required value="{{singlestaff.fullname}}">
        <label for="floatingInput">Full Name</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Phone" name = "phone" required value="{{singlestaff.phone}}">
        <label for="floatingInput">Phone</label>
      </div>
      <p class="text-danger">{{message2}}</p>


      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" required value="{{singlestaff.email}}">
        <label for="floatingInput">Email address</label>
      </div>
      <p class="text-danger">{{message3}}</p>


      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Subject1" name="assignedsub1" required value="{{singlestaff.assignedsub1}}">
        <label for="floatingInput">Assign Subject</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Subject2" name="assignedsub2" value="{{singlestaff.assignedsub2}}">
        <label for="floatingInput">Assign Subject</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Subject3" name="assignedsub3" value="{{singlestaff.assignedsub3}}">
        <label for="floatingInput">Assign Subject</label>
      </div>      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Subject4" name="assignedsub4" value="{{singlestaff.assignedsub4}}">
        <label for="floatingInput">Assign Subject</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="" name = "staffid" required value="{{singlestaff.staffid}}">
        <label for="floatingInput">STAFF ID</label>
      </div>
      <p class="text-danger">{{message}}</p>


      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name = "password" required value="{{singlestaff.password}}">
        <label for="floatingPassword">Password</label>
      </div>


      <div class="m-2">
        <button type="submit" class = "btn btn-success">Register</button>
      </div>
    </form>
        
    {% endblock maincenter %}