<div class="d-flex justify-content-between bg-dark">
    
    
    <ul class="nav">

        <div class="dropdown" style="margin-right: 15px;">

            <button class="btn btn-secondary bg-dark btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
               BCA
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item active" href="{% url 'selectclass' %}">1ST YEAR</a></li>
              <li><a class="dropdown-item" href="#">2ND YEAR</a></li>
              <li><a class="dropdown-item" href="#">3RD YEAR</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </div>

          <div class="dropdown" style="margin-right: 15px;">
            <button class="btn btn-secondary bg-dark btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
               BCOM
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item active" href="#">1ST YEAR</a></li>
              <li><a class="dropdown-item" href="#">2ND YEAR</a></li>
              <li><a class="dropdown-item" href="#">3RD YEAR</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </div>

          <div class="dropdown" style="margin-right: 15px;">
            <button class="btn btn-secondary bg-dark btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
               BA
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item active" href="#">1ST YEAR</a></li>
              <li><a class="dropdown-item" href="#">2ND YEAR</a></li>
              <li><a class="dropdown-item" href="#">3RD YEAR</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </div>

          <div class="dropdown" style="margin-right: 15px;">
            <button class="btn btn-secondary bg-dark btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
               BBA
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item active" href="#">1ST YEAR</a></li>
              <li><a class="dropdown-item" href="#">2ND YEAR</a></li>
              <li><a class="dropdown-item" href="#">3RD YEAR</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </div>

          <div class="dropdown" style="margin-right: 15px;">
            <button class="btn btn-secondary bg-dark btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
               BSC
            </button>
            <ul class="dropdown-menu dropdown-menu-dark bg-dark">
              <li><a class="dropdown-item active" href="#">1ST YEAR</a></li>
              <li><a class="dropdown-item" href="#">2ND YEAR</a></li>
              <li><a class="dropdown-item" href="#">3RD YEAR</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </div>
      

        
      </ul>




      <ul class="nav justify-content-end">



        <li class="nav-item">
            <a class="nav-link" href="#">Other Dept</a>
          </li>
        

      </ul>


</div>